:root {
  --color-dark: #15181f;
  --color-dark-x: #2d343f;
  --color-dark-xx: #1f232b;
  --color-light: #ffffff;
  --color-grey: #f5f6f8;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  background-color: var(--color-grey);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-light);
  letter-spacing: 0.05rem;
}

.nav-bar {
  width: 100%;
  display: flex;
  background-color: #1c539f;
  font-family: "Roboto", serif;
  font-weight: 700 !important;
  padding: 1.3em 3em;
}

.nav-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content .logo-touch-target {
  display: inline-flex;
  height: 60%;
  width: 350px;
}

.nav-content .nav-logo {
  height: 60px;
  margin: auto;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 200px;
}

.nav-content nav {
  display: block;
  width: 100%;
  text-align: right;
  padding-top: 0;
  padding-right: 0;
}

.bg-light {
  background-color: var(--color-light) !important;
}

.bg-dark {
  background-color: var(--color-dark) !important;
}

.p-6 {
  padding: 4rem 7rem;
}

.contact-box {
  width: 100%;
  margin: auto;
  position: relative;
  padding: 3rem;
}

.btn {
  font-weight: 400;
  padding: 1rem 2rem;
  border-radius: 5rem;
  min-width: 10rem;
}

.btn-outline-dark {
  border: 2px solid var(--color-dark-xx);
}

.form-control {
  background-color: var(--color-dark-xx);
  border: 2px solid var(--color-dark-xx);
  border-radius: 0.2rem;
  padding: 1.5rem 1rem;
}

.register-bg {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.testiomonial {
  bottom: 10px;
}

footer {
  margin-top: 4em;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1c539f;
}

footer h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
}

footer a {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
}

.github-link-container {
  text-align: center;
}

@media (max-width: 575.98px) {
  .p-6 {
    padding: 2rem;
  }

  .contact-box {
    padding: 0;
  }

  .width-100 {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .register-bg {
    min-height: 50vh;
  }
}
