{% include 'header.html' %}

<section class="container home-section">
    <h2>Best blog in the world</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad doloremque explicabo fuga reiciendis sequi sint
        sunt! Alias, autem dolorem doloribus ex excepturi nam quae quas quis, ratione, tempora totam voluptates.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur delectus deserunt eos est ex expedita
        explicabo itaque, nam nemo nulla officia officiis praesentium quae quasi reiciendis rem, vel. Cum, tenetur?
    </p>
</section>

<section class="container home-section">
    <h2>Posts</h2>

    <div class="grid-container">
        {% for post in posts.values() %}
            <figure class="card person-card">
                <img src="{{ post.image }}" alt="Poster" class="card-img-top">
                <figcaption class="card-body">
                    <a href="/posts/{{ post.id }}" class="stretched-link">
                        <h5 class="card-title">{{ post.title }}</h5>
                    </a>
                    {#                    <p class="card-text">{{ post.location }} </p>#}
                </figcaption>
            </figure>
        {% endfor %}
    </div>
</section>

{% include 'footer.html' %}

