{% include 'header.html' %}

<main class="body-container">
    <div class="contenedor__todo">
        <div class="caja__trasera">
            <div class="caja__trasera-login">
                <h3>Have an account?</h3>
                <p>Log in to access the site.</p>
                <button>Log In</button>
            </div>
            <div class="caja__trasera-register">
                <h3>Still no account?</h3>
                <p>Register so you can log in.</p>
                <button id="btn__registrarse" onclick="location.href='/signup'">Sign Up</button>
            </div>
        </div>
        <!--Formulario de Login y registro-->
        <div class="contenedor__login-register">
            <!--Login-->
            <form method="post" class="formulario__login">
                <h2>Log In</h2>
                <input type="text" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <button id="btn__iniciar-sesion" type="submit">Enter</button>
            </form>
        </div>
    </div>
</main>

{% include 'footer.html' %}